<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h1>List of magical lands</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @magical_lands.each do |ml| %>
      <tr>
        <td><%= ml.name %></td>
        <td><%= link_to "Edit", edit_magical_land_path(ml.id) %></td>
        <td><%= link_to "Show", magical_land_path(ml.id) %></td>
        <td><%= link_to "Delete", ml, method: :delete, data: { turbo_method: :delete } %></td>
        <%# <td><%= link_to "Delete", ml, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'I want to delete this land' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<ul>
  <li><%= link_to "New magical land", new_magical_land_path %></li>
</ul>
