<h1><strong>Name: </strong><%= @magical_land.name %></h1>
<p><strong>Universe: </strong><%= @magical_land.universe %></p>
<p><strong>Secret code: </strong><%= @magical_land.secret_code %></p>
<p><strong>Deadly: </strong><%= @magical_land.deadly %></p>
<p><strong>Id: </strong><%= @magical_land.id %></p>
